In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import *
from pyspark import  SparkContext

In [3]:
sc = SparkContext( 'local', 'pyspark')
sql = SQLContext(sc)

In [4]:
Employee = Row("firstname", "lastname", "email", "salary")

In [5]:
employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000)
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000)
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000)
employee5 = Employee('Zach', 'galiflankals', 'zach_g@edureka.co', 160000)

In [6]:
department1 = Row(id = '123456', name = 'HR')
department2 = Row(id = '789012', name = 'OPS')
department3 = Row(id = '345678', name = 'FN')
department4 = Row(id = '901234', name = 'DEV')

In [7]:
Employee[0]

'firstname'

In [8]:
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2, employee5])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee3])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [9]:
department4

Row(id='901234', name='DEV')

In [10]:
departmentsWithEmployees_Seq = [departmentWithEmployees1, departmentWithEmployees2]

In [11]:
dframe = sql.createDataFrame(departmentsWithEmployees_Seq)

In [12]:
dframe

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstname:string,lastname:string,email:string,salary:bigint>>]